main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}


.título{
    padding: 2rem;
    text-align: center;
    font-size-adjust: 2.5 rem;
    font-weight: bold;
    background-color:rgb(125, 138, 103)
}
.subtítulo{
    padding: 2rem;
    text-align: center;
    background-color: rgb(240, 207, 224);
    font-style: italic;
    }
    .texto{
        text-align: center;
        font-style: oblique;
        margin: 2rem auto
    }
    .bienvenida{
        background-color: beige;
        margin: 2rem auto
    }
    .image-principal{
        border: 2px solid #eee;
        width: 100%;
        max-width: 500%; ;
        display: block;
        margin: 0;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
    }
    .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-items: center;
}


.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

.contacto p {
    grid-column: 1 / 2;
}

.contacto a {
    grid-column: 2 / 3;
    justify-self: end;
    margin-left: 1rem;
}
